.bg {
    background-color: #c74c2d;
    margin: 50px 300px;
    width: 700px;
    height: 252px;
    border: 7px solid #424040;
}
.bg1 {
    background: url(../image/sm_nyc_banner.jpg) no-repeat center/cover;
    margin: 50px 300px;
    width: 700px;
    height: 252px;
    border: 7px solid #424040;
}
.bg1 :first-child {
    padding-top: 15px;
}
.bg1 :nth-child(2) {
    padding-left: 265px;
}